{% if dir %}
  {% if dir=='rtl' %}
    {% set main_class_dir='dir-rtl' %}
  {% else %}
    {% set main_class_dir='' %}
  {% endif %}
{% endif %}

{% block header %}
  <div class="easy-email-body header-of-email email-main-section {{ main_class_dir }}">
    <table>
      <tbody>
      {% if logo_url %}
        <tr>
          <td class="header-logo" style="background-image: url({{ logo_url }})">
          </td>
        </tr>
      {% endif %}
      {% if header_image_url %}
        <tr>
          <td class="header-image" style="background-color:#7db3df; background-image:url({{ header_image_url }});">
            &nbsp;
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block body %}
  <div class="easy-email-body body-of-email email-main-section {{ main_class_dir }}">
    <table>
      <tbody>
      {% if body|striptags|trim|length > 0 %}
        <tr>
          <td class="content-section">
            {{ body }}
          </td>
        </tr>
      {% endif %}
      <tr>
        <td class="content-section">
          {% block body_content %}
          ***-- :) --***
          {% endblock %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block footer %}
  <div class="easy-email-body footer-of-email email-main-section {{ main_class_dir }}">
    <table>
      <tbody>
        <tr>
          <td>
            {% block footer_content %}
              {% include '@kahal_base/mail/email-footer.html.twig' %}
            {% endblock %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
