{% extends "@kahal_base/mail/easy-email-body-html--base.html.twig" %}
{% block body_content %}
  {% if invitation_text %}
    <tr>
      <td class="content-section">
        {{ invitation_text|raw }}
      </td>
    </tr>
  {% endif %}
{% endblock %}

