<div class="content-section">
  {% if auto_login_link %}
    <div class="email-main-btn-container">
      <a class="btn btn-primary btn-goto-event" style="min-width:50%;" href="{{ auto_login_link }}">{{ 'To the event'|t }}*</a>
    </div>
  {% endif %}

  <div class="small-letters">
    {% if auto_login_link %}
      <p>{{ 'You received this email because you are registered to this event.' |t }}</p>
      <p>
        <strong>*</strong> {{ 'This email and links are personal and can be used by the owner of @email only. Trying to use personal links from more than one device is not allowed'|t({'@email': main_recipient_address }) }}
      </p>
    {% endif %}
    {% if registration_url %}
      <p>
        {{ 'If you haven\'t yet registered please '|t}} <a href="{{ registration_url }}">{{ 'register now' | t }}</a>
      </p>
    {% endif %}
    <p>
      <a href="https://kahal.co.il">{{ 'Create your events with Kahal'|t}}</a>
    </p>

  </div>
</div>
