{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<html>
<head>
  <style type="text/css">
    {% include '@kahal_base/mail/email.css.twig' %}
  </style>
</head>
<body>
<div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f7f7f7" role="presentation" align="center" style="width:100%!important;min-width:100%!important">
    <tbody>
    <tr>
      <td bgcolor="#f7f7f7" align="center" valign="top">
        <table width="570" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:570px;margin:0 auto">
          <tbody>
          <tr>
            <td align="center" valign="top" style="padding:0px;margin:0px;border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-weight:normal">
              <table style="min-width:100%" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                  <td>
                    {% block main_email_body %}
                      {{ body }}
                    {% endblock %}
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>

