{% if not verification_code %}
  {% set verification_code =  easy_email.field_confirmation_code.0.value %}
{% endif %}
<div>

  <h1>{{ 'Confirm your email address'|t }}</h1>
  <p>{{ 'Your confirmation code is below — enter it in your open browser window and we\'ll help you get signed in.'|t }}</p>

  <table border="0" cellpadding="1" cellspacing="1" style="height: 70px; width: 100%;">
    <tbody>
    <tr>
      <td class="text-align-center">
          <div class="verification-code-the-code" >
            <strong>
              <span>{{ verification_code }}</span>
            </strong>
          </div>
      </td>
    </tr>
    </tbody>
  </table>
  <p>{{ 'If you didn’t request this email, there’s nothing to worry about — you can safely ignore it.'|t }}</p>
</div>
